body {
    background-color: lightPink;
    margin: auto;
}
h1 {
    display: block;
    margin: auto;
    text-align: center;
}
.content {
  display: block;
  text-align: center;
}

li {
  color: blue;
}
